<section class="content-header" ng-init="getUserList()">
  <h1 class="">
    Building plan List
    <small>control panel</small>
  </h1>
  <button class="btn btn-primary pull-right" ui-sref="newplan" ng-if="user_type == '3'"><i class="fa fa-plus"></i> Add Building Plan</button>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Manage Building Plans</h3>
        </div>
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>SL.NO</th>
                <th>Name</th>
                <th>Reg.No</th>
                <th>Date</th>
                <th>Document</th>
                <th>Status</th>
                <th ng-if="user_type == '2'">Remarks</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Santosh</td>
                <td>438</td>
                <td>04/07/2016</td>
                <td><a href="">View</a></td>
                <td>
                  <span ng-if="user_type != '2'">Pending</span>
                  <a href="" ng-if="user_type == '2'"><span class="label label-success">Accepts</span></a>
                  <a href="" ng-if="user_type == '2'"><span class="label label-danger">Reject</span></a>
                </td>
                <td ng-if="user_type == '2'">
                  <input type="text"  class="form-control" name="first_name" placeholder="Remarks">
                </td>
              </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
